<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet id="jsp">
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>logVerbosityLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
        <init-param>
            <param-name>fork</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>keepgenerated</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>super_airways.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPage_Servlet</servlet-name>
        <servlet-class>super_airways.RegistrationPage_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAndBook_Servlet</servlet-name>
        <servlet-class>super_airways.ViewAndBook_Servlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddFlightServlet</servlet-name>
        <servlet-class>super_airways.AddFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistory_Servlet</servlet-name>
        <servlet-class>super_airways.BookingHistory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelPackages_Servlet</servlet-name>
        <servlet-class>super_airways.TravelPackages_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTravelPackage_Servlet</servlet-name>
        <servlet-class>super_airways.AddTravelPackage_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationServlet</servlet-name>
        <servlet-class>super_airways.NavigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banking_Servlet</servlet-name>
        <servlet-class>super_airways.Banking_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBooking_Servlet</servlet-name>
        <servlet-class>super_airways.UpdateBooking_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionConfirmation_Servlet</servlet-name>
        <servlet-class>super_airways.TransactionConfirmation_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPage_Servlet</servlet-name>
        <url-pattern>/RegistrationPage_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlightSearchQuery_Servlet</servlet-name>
        <servlet-class>super_airways.FlightSearchQuery_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightSearchQuery_Servlet</servlet-name>
        <url-pattern>/FlightSearchQuery_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserValidation_Ajax</servlet-name>
        <servlet-class>super_airways.UserValidation_Ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserValidation_Ajax</servlet-name>
        <url-pattern>/UserValidation_Ajax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlightSearchResult_Servlet</servlet-name>
        <servlet-class>super_airways.FlightSearchResult_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightSearchResult_Servlet</servlet-name>
        <url-pattern>/FlightSearchResult_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>super_airways.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAndBook_Servlet</servlet-name>
        <url-pattern>/ViewAndBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlightServlet</servlet-name>
        <url-pattern>/AddFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistory_Servlet</servlet-name>
        <url-pattern>/BookingHistory_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelPackages_Servlet</servlet-name>
        <url-pattern>/TravelPackages_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTravelPackage_Servlet</servlet-name>
        <url-pattern>/AddTravelPackage_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationServlet</servlet-name>
        <url-pattern>/NavigationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banking_Servlet</servlet-name>
        <url-pattern>/Banking_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking_Servlet</servlet-name>
        <url-pattern>/UpdateBooking_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionConfirmation_Servlet</servlet-name>
        <url-pattern>/TransactionConfirmation_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
